.custom {
    padding: 9px 1px 30px 127px;
    text-align: center;
    background-color: #EBEBEA;
}
.custom1 {
    padding: 9px 1px 30px 127px;
    text-align: center;
    background-color: #ffffff
}
.bg-ligh{
    background-color: #EBEBEA;
}
h3{
    font-size: 13px;
}